@using (Html.BeginForm("AddCourse","CoursesManagment"))
{
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">نام درس : </label>
                <input type="text" name="course" />
                <input type="submit" name="create" />
            </div>
  
        </div>
    </form>
}

<div style="position:absolute;bottom:70px">
    @Html.ActionLink("بازگشت به پنل کاربری", "Index", "Home")
</div>


