@model noor7.Models.Course
@{
    ViewData["Title"] = "افزودن درس";
}

@using (Html.BeginForm())
{
    <form>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">نام درس : </label>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                <button type="submit" class="btn btn-primary">ثبت</button>
            </div>
            

        </div>

        

    </form>
}

<div style="position:absolute;bottom:70px">
    @Html.ActionLink("بازگشت به پنل کاربری", "Index")
</div>


