@{
    ViewData["Title"] = "پنل کاربری";
}


<div class="panel-tiles row">
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
                <button class="btn btn-light">
                    @Html.ActionLink("افزودن کاربر جدید",
"AddStudent")
                </button>
                
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/course.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    درس
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/notebook.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دفترچه راهنما
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/absent.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    غیبت
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/late.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    تاخیر
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="panel-tiles row">
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/exam.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    امتحان
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/defact.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    نقص
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/practice.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    تمرین
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/speak.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    گفتگو
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/setting.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    تنظیمات
                </h5>
            </div>
        </div>
    </div>
</div>
