@{
    ViewBag.Title = "Home Page";
}
@{
    ViewData["Title"] = "پنل کاربری";
}


<div class="panel-tiles row">
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="panel-tiles row">
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
            </div>
        </div>
    </div>
</div>
