@{
    ViewData["Title"] = "صفحه ویرایش";
}


<div class="col-md-6">
    <header style="background-color:lightcoral;padding:5px;">
        <form class="form-inline">

            <input id="date" class="form-control col-md-2" placeholder="تاریخ">

            <input id="class" list="classSelect" class="form-control col-md-2" placeholder="کلاس">
            <datalist id="classSelect">
                <option value="الف">الف</option>
                <option value="ب">ب</option>
                <option value="ج">ج</option>
            </datalist>

            <input id="type" list="typeSelect" class="form-control col-md-2" placeholder="نوع">
            <datalist id="typeSelect">
                <option value="تکلیف">تکلیف</option>
                <option value="امتحان">امتحان</option>
                <option value="دفترچه">دفترچه</option>
            </datalist>

            <input type="button" class="btn btn-success form-control col-md-2" value="ثبت" onclick="sendJsonDataForAbsent();">
        </form>
        <div class="show1" >
            

        </div>
    </header>
    
</div>
<div class="col-md-6">
    
</div>