@media print {
    body,html {
        width: 100%; 
        margin: 0; 
        float: none;
        color: #000;
        background-color: #fff;
    }

    @page{
        margin:2cm !important;
    }
    
    header,.dont-print,footer{
        display: none !important;
    }

    #nameOfStudent {
        display:inline-block;
        text-align:center !important;
        margin-top:5px !important;
        margin-bottom:0 !important;
    }

    .report-view-table {
        margin-top:5px !important;
        height: 100% !important;
    }

    .report-view-chart {
        height: 100% !important;
    }

    .forPrint {
        display: block !important;
    }

   
  }