@media print {

    @page {
        size: A4 portrait;
        
    }

    body, html {
        width: 100%;
        margin: 0;
        float: none;
        color: #000;
        position: relative;
        background-color: #fff;
    }
    
    header,.dont-print,footer{
        display: none !important;
    }

    .forPrint {
        display: block !important;
    }

    #nameOfStudent {
        display:inline-block;
        text-align:center !important;
        margin-top:5px !important;
        margin-bottom:0 !important;
    }

    .report-view-table {
        width: 1000px;
        height: 1380px;
        position:relative;
        page-break-after: always;
    }

    #description {
        position: absolute;
        width: 960px;
        z-index: 100;
        height: 150px;
        bottom: 250px;
        left: 50%;
        margin-left: -480px;
    }

    #opinionOfParents {
        position: absolute;
        width: 960px;
        z-index: 100;
        height: 150px;
        bottom: 0px;
        left: 50%;
        margin-left: -480px;
    }

    .report-view-chart {
        margin-top:20px !important;
        width: 1000px;
        height: 1380px !important;
        margin-bottom:5px !important;
    }

    .report-view-chart .row {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #2196F3;
    }

    .report-view-chart .row > div {
        background-color: lightcyan;
        text-align: center;
    }

    canvas {
        width:450px !important;
        height:300px !important;
        margin: 0 auto !important;
    }
   
  }