@{
    ViewBag.Title = "Home Page";
}
@{
    ViewData["Title"] = "گزارش گیری";
}




<h4 class="print-header">
    کارنامه ماهیانه دانش آموز - علی کریمی - پایه هفتم
</h4>
<div class="row report-view justify-content-center">
    <div id="printa" class="report-view-table col-md-12">
        <table class="table table-striped table-hover table-bordered">

            <tbody>
                <tr class="first-table-row">
                    <td rowspan="4">1</td>
                    <td colspan="4" rowspan="4"> حساب </td>
                    <td colspan="4">دفعات بازدید</td>
                    <td colspan="4">درصدانجام تکلیف</td>
                    <td colspan="4">درصد تکالیف کلاس</td>

                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td colspan="4"></td>
                    <td colspan="4"></td>


                </tr>
                <tr class="exam-status-title">
                    <td class="exam-status1">
                        <span>بارم</span>
                        <span class="exam-type">
                            آزمون هفتگی
                        </span>
                    </td>
                    <td><span>نمره</span></td>
                    <td><span>میانگین</span></td>
                    <td><span>تاریخ</span></td>
                    <td class="exam-status1">
                        <span>بارم</span>
                        <span class="exam-type">
                            آزمون هفتگی
                        </span>
                    </td>
                    <td><span>نمره</span></td>
                    <td><span>میانگین</span></td>
                    <td><span>تاریخ</span></td>
                    <td class="exam-status1">
                        <span>بارم</span>
                        <span class="exam-type">
                            آزمون هفتگی
                        </span>
                    </td>
                    <td><span>نمره</span></td>
                    <td><span>میانگین</span></td>
                    <td><span>تاریخ</span></td>


                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
            </tbody>
         

        </table>
    </div>
</div>
    

   