@{
    ViewBag.Title = "Home Page";
}
@{
    ViewData["Title"] = "گزارش گیری";
}


<div class="dont-print row d-flex justify-content-center">
    <div class="report-action col-md-6">
        <div class="input-group">
            <input id="selectedStudent" list="search-report" class="form-control width100 col-md-4" placeholder="نام و نام خانوادگی">
            <datalist id="search-report">
                @foreach (var item in ViewBag.vv)
                {
                    <option value="@item.Id">@item.FirstName @item.LastName @item.Class</option>
                }
            </datalist>

            <input id="month" list="month-report" class="form-control width100 col-md-2" placeholder="ماه">
            <datalist id="month-report">
                <option value="مهر"></option>
                <option value="آبان"></option>
                <option value="آذر"></option>
                <option value="دی"></option>
                <option value="بهمن"></option>
                <option value="اسفند"></option>
                <option value="فروردین"></option>
                <option value="اردیبهشت"></option>
                <option value="خرداد"></option>
            </datalist>

            <span class="input-group-btn col-md-4 text-center">
                <button type="button" class="btn btn-primary" onclick="sendJsonDataToReport();">نمایش</button>
            </span>
            <span class="input-group-btn col-md-4 text-center">
                <button type="button" class="btn btn-success" onclick="autoPrint();">چاپ</button>
            </span>
            <span class="input-group-btn col-md-4 text-center">
                <button type="button" class="btn btn-success" onclick="chartprint();">چاپ نمودار</button>
            </span>
        </div>
    </div>
</div>

<h4 id="nameOfStudent" class="print-header">
    
</h4>
<div class="row report-view justify-content-center">
    <div id="tblPrint" class="report-view-table col-md-6">
        <table id="showContent" class="table table-bordered">

            <tbody>

                <tr class='first-table-row'>

                    <td colspan="2" rowspan="2"></td>
                    <td colspan='2' rowspan="2">انجام تکالیف</td>
                    <!-- <td colspan='2' rowspan="2">حداقل میزان <br /> قابل قبول</td> -->
                    <td colspan='2' rowspan="2">دفعات بازدید</td>
                    <td colspan="4">آزمون</td>
                    <td colspan="4">آزمون</td>

                </tr>
                <tr>

                    <td><span>تاریخ</span></td>
                    <td><span>بارم</span></td>
                    <td><span>نمره</span></td>
                    <td><span>نوع</span></td>

                    <td><span>تاریخ</span></td>
                    <td><span>بارم</span></td>
                    <td><span>نمره</span></td>
                    <td><span>نوع</span></td>

                </tr>


        </table>

        <div id="description">
            
            <p>توضیحات :</p>
            

        </div>
        <div id="opinionOfParents">

            <p>نظر ولی محترم :</p>
         

        </div>
    </div>
    <div id="charPrint" class="report-view-chart col-md-6">
        <div class="row">
            <div class="noteBook-chart col-md-12 justify-content-center">
                <canvas id="line-chart" width="700" height="450"></canvas>
            </div>

            <div class="noteBook-chart-av col-md-12 justify-content-center">
                <canvas id="line-chart1" width="700" height="450"></canvas>
            </div>

            <div class="a-chart col-md-12 justify-content-center">
                <canvas id="bar-chart" width="700" height="450"></canvas>
            </div>

            <div class="b-chart col-md-12 justify-content-center">
                <canvas id="bar-chart-jobs" width="700" height="450"></canvas>
            </div>

            <div class="helpContent">
                <h3>
                    راهنمای نمودار ها :
                </h3>
                <br />
                <h4>
                    دفترچه راهنما :
                </h4>
                <br />
                    <p>

                    این نمودار چشم اندازی از عملکرد کلی دانش آموز در طول یک ماه می باشد
                    در صورتی که دانش آموز وظایف خود را به درستی انجام داده باشد (همه ی روزها را بهاری گرفته باشد) نمره کامل ۱۸ در هر هفته به او تعلق می گیرد و در غیر این صورت با توجه به وضعیت دفترچه راهنما نمره او محاسبه می شود
                    <br />
                    <b>
                        (وضعیت کلی دانش آموز به تفکیک هر ماه نیز در نمودار میانگین دفترچه راهنما مشخص شده است)
                    </b>

                </p>
                <br />

                <h4>
                    عملکرد علمی انضباطی :
                </h4>
                <br />
                <p>
                    این نمودار شامل سه قسمت خوب، نیازمند تلاش بیشتر و پرسش برانگیز می باشد در صورتی که دانش آموز وظایفش را خوب انجام دهد یا اینکه مورد منفی ای نداشته باشد وضعیت او در قسمت (خوب )قرار می گیرد اگر یک مورد منفی داشته باشد وضعیت او در قسمت (نیاز به تلاش بیشتر) جای می گیرد و بیش از یک مورد منفی در موارد یاد شده وضعیت او را پرسش برانگیز می کند
                    <br />
                    نکته ۱ : قسمت نقص علمی شامل موارد نقص تکلیف در کلاس و پاسخ گو نبودن به سوالات معلم است (این قسمت شامل وضعیت خوب نمی شود
                    )
                    <br />
                    نکته ۲ : رعایت نظم شامل ورود به موقع به کلاس ، بی انضباطی نکردن در مراسمات و کارهای جمعی ، توجه به سخنان معلم راهنما و همکاران ، رعایت قوانین کلاس و احترام گذاشتن به دوستان و پرهیز از خشونت ، وضعیت ظاهری مناسب ، نخوردن تغذیه و میان وعده در کلاس است
                </p>
                <br />
                <h4>
                    مسئولیت ها :
                </h4>
                <p>

                    این نمودار گزارشی از وضعیت مسئولیت پذیری دانش آموزان در مسئولیت های مختلف می باشد
                    وضعیت رضایت بخش یعنی دانش آموز مسئولیتش را به اقتضای سن خود به خوبی انجام داده است در حد انتظار یعنی دارای ایرادات کوچک بوده است                  
                ‍‍    <br />
                    <b>
                        بدیهی است وضعیت انجام مسئولیت دانش آموز با توجه به درجه دشواری مسئولیت می تواند تغییر کند

                    </b>
                
                </p>
            
            </div>

        </div>

        
    </div>

</div>